// Specific responsiv CSS for your show-page

@media screen and (max-height: 389px) {
  .InfoCard {
    overflow: auto;
    height: 50vh;
  }
}

@media screen and (min-height: 390px) {
  .InfoCard {
    overflow: auto;
    height: 59vh;
  }
}

@media screen and (min-height: 440px) {
  .InfoCard {
    overflow: auto;
    height: 63vh;
  }
}

@media screen and (min-height: 490px) {
  .InfoCard {
    overflow: auto;
    height: 67vh;
  }
}

@media screen and (min-height: 540px) {
  .InfoCard {
    overflow: auto;
    height: 70vh;
  }
}

@media screen and (min-height: 590px) {
  .InfoCard {
    overflow: auto;
    height: 72vh;
  }
}

@media screen and (min-height: 640px) {
  .InfoCard {
    overflow: auto;
    height: 75vh;
  }
}

@media screen and (min-height: 690px) {
  .InfoCard {
    overflow: auto;
    height: 76vh;
  }
}

@media screen and (min-height: 740px) {
  .InfoCard {
    overflow: auto;
    height: 78vh;
  }
}

@media screen and (min-height: 790px) {
  .InfoCard {
    overflow: auto;
    height: 79vh;
  }
}

@media screen and (min-height: 840px) {
  .InfoCard {
    overflow: auto;
    height: 81vh;
  }
}

@media screen and (min-height: 890px) {
  .InfoCard {
    overflow: auto;
    height: 82vh;
  }
}

@media screen and (min-height: 940px) {
  .InfoCard {
    overflow: auto;
    height: 83vh;
  }
}
