// Specific responsiv CSS for your show-page

@media screen and (max-height: 389px) {
  .InfoCard {
    overflow: auto;
    // height: 65vh;
  }
}

@media screen and (min-height: 390px) {
  .InfoCard {
    overflow: auto;
    // height: 76vh;
  }
}

@media screen and (min-height: 440px) {
  .InfoCard {
    overflow: auto;
    // height: 79vh;
  }
}

@media screen and (min-height: 490px) {
  .InfoCard {
    overflow: auto;
    // height: 81vh;
  }
}

@media screen and (min-height: 540px) {
  .InfoCard {
    overflow: auto;
    // height: 83vh;
  }
}

@media screen and (min-height: 590px) {
  .InfoCard {
    overflow: auto;
    // height: 84vh;
  }
}

@media screen and (min-height: 640px) {
  .InfoCard {
    overflow: auto;
    // height: 85vh;
  }
}

@media screen and (min-height: 690px) {
  .InfoCard {
    overflow: auto;
    // height: 87vh;
  }
}

@media screen and (min-height: 740px) {
  .InfoCard {
    overflow: auto;
    // height: 87vh;
  }
}

@media screen and (min-height: 790px) {
  .InfoCard {
    overflow: auto;
    // height: 88vh;
  }
}

@media screen and (min-height: 840px) {
  .InfoCard {
    overflow: auto;
    // height: 89vh;
  }
}

@media screen and (min-height: 890px) {
  .InfoCard {
    overflow: auto;
    // height: 90vh;
  }
}

@media screen and (min-height: 940px) {
  .InfoCard {
    overflow: auto;
    // height: 90vh;
  }
}
