<h1>Pictures/index</h1>
<li>Pictures: <%= @pictures.count %></li>

<%= "===========================================" %>
<% 2.times { %><br><% } %>

<% @pictures.each do |picture| %>
  <%= link_to image_tag(picture.variant(resize_to_limit: [100, 100])), picture_path(picture) %>
<% end %>

<% 5.times { %><br><% } %>

<%= "===========================================" %>
