<h1>picture/show</h1>
<li>aaa <%= image_tag @picture %></li>
<li>bbb <%#= user.@picture %></li>
<li>ccc <%= @picture %></li>
<li>ddd <%= @picture.id %></li>
<li>eee <%#= @user.id %></li>
<li>fff <%= @user %></li>
<%# @user.each do |aa| %>
  <%#= image_tag aa %>
<%# end %>
