<h1>picture/show</h1>

<%= image_tag @picture, width: "200px" %>
<li>Path: <%= @p_info.path %></li>
<li>Image ID: <%= @picture.id %></li>


<li>
  <% @pictures_hash.each do |pic_hash| %>
    <% @hashtag.each do |hashtag| %>
      <% if hashtag.id === pic_hash.hashtag_id %>
        <%= hashtag.name %>
      <% end %>
    <% end %>
  <% end %>
</li>
