// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

#last {
  color: gray;
  cursor: not-allowed;
  background: red;
}

#FilePath {
  overflow: auto;
  white-space: nowrap;
}

.showpage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}


.InfoCard {
  // background: #b3ffc7;
}


.showpic {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}


#LoginForm, #EditForm{
  margin: auto;
  margin-top: 3%;
  max-width: 500px;
  border: 3px solid #929292;
  padding: 10px;
  background-color: aliceblue;
  box-shadow: 8px 8px 35px -7px rgba(0,0,0,0.5);
  border-radius: 24px;
  padding: 60px;
  max-inline-size: fit-content;
}

@media screen and (max-height: 549px) {
  body {
    background-color: #1abcff;
  }
  .heightpic {
    height: 59vh;
  }
}



@media screen and (min-height: 550px) {
  body {
    background-color: #d2fbd2;
  }
  .heightpic {
    height: 70vh;
  }
}

@media screen and (min-height: 700px) {
  body {
    background-color: #ebebbe;
  }
  .heightpic {
    height: 76vh;
  }
}

@media screen and (max-width: 575px) {
  body {
    // background-color: #ff9f9f;
  }
  .heightpic {
    height: unset;
  }
}

@media screen and (max-width: 380px) {
  body {
    background-color: #1eff1a;
  }
  #LoginForm, #EditForm {
    padding: 24px;
  }
}
