// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "responsiv/index";

#index-search {
  width: 25%;
}

#show-nav {
  display: flex;
  justify-content: space-between;
}

#show-control {
  display: flex;
}

#show-search {
  display: flex;
}

ul.pagination {
  flex-wrap: wrap;
}



html, body {
  height: 100%;
}

.viewer {
  background: #333333;
}

#last {
  color: gray;
  cursor: not-allowed;
  background: red;
}

#FilePath {
  overflow: auto;
  white-space: nowrap;
}

.showpage {
  // height: 100vh;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-evenly;
  // align-items: stretch;
}

.InfoCard {
  background: #cdcdcd;

}

.showpic {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}

#LoginForm,
#EditForm {
  margin: auto;
  margin-top: 3%;
  max-width: 500px;
  border: 3px solid #929292;
  padding: 10px;
  background-color: aliceblue;
  box-shadow: 8px 8px 35px -7px rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  padding: 60px;
  max-inline-size: fit-content;
}



@media screen and (max-width: 575px) {
  .heightpic {
    height: unset;
  }

  body {
    overflow: unset;
  }

  .InfoCard {
    height: auto;
  }

}
