<div id="<%= dom_id upload %>">
  <p>
    <strong>Pictures:</strong>
    <% upload.pictures.each do |picture| %>
      <div><%= link_to picture.filename, picture %></div>
    <% end %>
  </p>

</div>
